<div class="horizontal-scroll">
  <table class="table" st-table="items" st-safe-src="inventory">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="material.name">Material Name</th>
      <th st-sort="project.name">Project Name</th>
      <th st-sort="quantity">Quantity</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="material.name" placeholder="Serach Material" class="input-sm form-control search-input" type="search"/></th>
      <th><input st-search="project.name" placeholder="Search Project" class="input-sm form-control search-input" type="search"/></th>
      <th></th>
    </tr>
    </thead>
    <tbody ng-show="loading">
      <tr><td colspan="7"><div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="loading"><span/></div></td></tr>
    </tbody>
    <tbody ng-show="!loading">
    <tr ng-repeat="item in items">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.material.name}}</td>
      <td>{{item.project.name}}</td>
      <td>{{item.quantity}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
