<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading"><h3 class="panel-title" style="display:inline-block;width:80%;">Checkout List</h3>
          <a type="button" class="btn btn-success btn-with-icon btn-sm pull-right" ui-sref="workbench.checkouts.new" style="margin-top:-10px;"><i class="ion-plus-round"></i>Checkout</a>
        </div>
        <div class="horizontal-scroll">
          <table class="table table-hover" st-table="displayData" st-safe-src="checkouts" >
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                <th st-sort="project">Project</th>
                <th st-sort="vendor">Vendor</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ng-show="loading">
              <tr><td colspan="7"><div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="loading"><span/></div></td></tr>
            </tbody>
            <tbody ng-show="!loading">
            <tr ng-repeat="item in displayData">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.project.name}}</td>
              <td>{{item.vendor.name}}</td>
              <td>{{item.comment}}</td>
              <td>{{item.status}}</td>
              <td>
                <button class="btn btn-success btn-xs" ui-sref="workbench.checkouts.show({id:item.id})">Show</button>
                <!--button class="btn btn-primary btn-xs" ui-sref="workbench.checkouts.edit({id:item.id})">Edit</button-->
                <!--button class="btn btn-danger btn-xs" ng-click="delete(item.id)">Delete</button-->
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" class="text-center">
                  <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
