<div style="position:relative">
  <div ng-show="loading">
    <div style="position:absolute;height:100px;width:100%;height:100%;z-index:2;background-color:#aaa;opacity:0.1"></div>
    <span us-spinner="{position:static}" spinner-on="isLoading"><span/>
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputState">Project</label>
      <select class="form-control" id="inputState" placeholder="Project" ng-model="data.project" ng-change="fetch_inventory()">
        <option ng-repeat="option in projects_list" value="{{option.id}}">{{option.project_name}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputState">Vendor</label>
      <select class="form-control" id="inputState" placeholder="Vendor" ng-model="data.vendor">
        <option ng-repeat="option in vendors_list" value="{{option.id}}">{{option.vendor_name}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputStatus">Status</label>
        <select class="form-control"  placeholder="Status" ng-model="data.status">
          <option value="partial delivered">Partial Delivered</option><option value="delivered">Delivered</option>
        </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputDate">Expected Date</label>
      <input type="date" class="form-control" id="inputDate" placeholder="Date" ng-model="data.date_input">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="inputComment">Comment</label>
      <textarea class="form-control" id="inputcomment" placeholder="comment" ng-model="data.comment"></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Material</label>
  </div>
  <div class="col-sm-4">
    <label>Quantity</label>
  </div>
</div>

<div class="row" ng-if="materials_list.length">
  <div class="col-sm-6">
    <div class="form-group">
      <select class="form-control" id="inputState" placeholder="Material" ng-model="data.material" ng-change="update_quantity()">
        <option ng-repeat="option in materials_list" value="{{$index}}">{{option.material.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <input class="form-control inputquantity" type="number" placeholder="quantity" ng-model="data.quantity" max="0">
    </div>
  </div>
</div>
<div class="row" ng-if="!materials_list.length">
  <div class="col-sm-8">
    No Inventory for the selected project.<br/><br/>
  </div>
</div>
<button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
<button class="btn btn-danger" ui-sref="workbench.porders" >Cancel</button>
</div>
