<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading">
          <a type="button" class="" ui-sref="workbench.checkouts" style="margin-top:-10px;"><i class="ion-chevron-left"></i> Back to Checkout</a>
          <h3 class="panel-title" style="display:inline-block;width:80%; text-align:center">Checkout Detail</h3>
        </div>
        <div class="panel-body" ng-show="loading">
          <div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="isLoading"><span/></div>
        </div>
        <div class="panel-body" ng-show="!loading">
          <div class="row">
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Project :</dt> <dd>{{co.project.name}}</dd>
              </dl>
            </div>
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Status :</dt> <dd>{{co.status}}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Vendor :</dt> <dd>{{co.vendor.name}}</dd>
              </dl>
            </div>
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Expected By:</dt> <dd>{{co.expected_date}}</dd>
              </dl>
            </div>
          </div>
          <hr/>
          <div class="row">
            <h5>Materials</h5>
            <dl class="dl-horizontal">
              <dt  ng-repeat-start="m in co.materials"> m.name</dt>&nbsp;X&nbsp;<dd ng-repeat-end>{{m.quantity}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
