<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading"><h3 class="panel-title" style="display:inline-block;width:80%;">Projects List</h3>
          <a type="button" class="btn btn-success btn-with-icon btn-sm pull-right" ui-sref="workbench.projects.new" style="margin-top:-10px;"><i class="ion-plus-round"></i>New Project</a>
        </div>
        <div class="horizontal-scroll">
          <table class="table table-hover" st-table="displayData" st-safe-src="projects" >
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                <th st-sort="project_name">Name</th>
                <th st-sort="project_type">Type</th>
                <th st-sort="description">Description</th>
                <th st-sort="client_name">Client</th>
                <th st-sort="state">State</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody ng-show="loading">
              <tr><td colspan="7"><div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="loading"><span/></div></td></tr>
            </tbody>
            <tbody ng-show="!loading">
            <tr ng-repeat="item in displayData">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.project_name}}</td>
              <td>{{item.project_type}}</td>
              <td>{{item.description}}</td>
              <td>{{item.client_name}}</td>
              <td>{{item.state}}</td>
              <td>
                <button class="btn btn-success btn-xs" ui-sref="workbench.projects.show({id:item.id})">Show</button>
                <button class="btn btn-primary btn-xs" ui-sref="workbench.projects.edit({id:item.id})">Edit</button>
                <button class="btn btn-danger btn-xs" ng-click="delete(item.id)">Delete</button>
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" class="text-center">
                  <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
