<form ng-submit='save(ProjectPostForm.$valid)' name='ProjectPostForm' novalidate>
<div style="position:relative">
  <div ng-show="loading">
    <div style="position:absolute;height:100px;width:100%;height:100%;z-index:2;background-color:#aaa;opacity:0.1"></div>
    <span us-spinner="{position:static}" spinner-on="isLoading"><span/>
  </div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group has-feedback" ng-class="{'has-error': ProjectPostForm.name.$invalid && (ProjectPostForm.name.$dirty || ProjectPostForm.$submitted)}">
      <label for="inputProjectName">Project Name</label>
      <input type="text" name="name" class="form-control" id="inputProjectName" placeholder="Project Name" ng-model="data.project_name" required>
      <span class="help-block error-block basic-block">Please Enter a Name!</span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group has-feedback" ng-class="{'has-error': ProjectPostForm.ptype.$invalid && (ProjectPostForm.ptype.$dirty && ProjectPostForm.$submitted)}">
      <label for="inputProjectType">Project Type</label>
      <select class="form-control" id="inputType" name="ptype" required ng-model="data.project_type" ng-options="option.id as option.name for option in project_types">
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group has-feedback" ng-class="{'has-error': ProjectPostForm.description.$invalid && (ProjectPostForm.description.$dirty || ProjectPostForm.$submitted)}">
      <label for="inputDescription">Description</label>
      <textarea class="form-control" name="description" id="inputDescription" placeholder="Description" required maxwordcount="20" ng-model="data.description"></textarea>
      <span class="help-block error-block basic-block">Description should be atleast 20 words long!</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input_client">Client</label>
      <select class="form-control" id="client_state" placeholder="Client" ng-model="data.client" ng-options="option.id as option.name for option in project_types">
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputSiteAddress">Site Address</label>
      <input type="text" class="form-control" id="inputSiteAddress" placeholder="Site Address" ng-model="data.site_address">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputConstructionPlace">Consultants</label>
        <tags-input ng-model="consultants_tags" display-property="consultant_name">
          <auto-complete source="load_consultants($query)"></auto-complete>
        </tags-input>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputConstructionPlace">Construction Place</label>
      <input type="text" class="form-control" id="inputConstructionPlace" placeholder="Construction Place" ng-model="data.construction_place">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group has-feedback" ng-class="{'has-error': ProjectPostForm.serveyno.$invalid && (ProjectPostForm.serveyno.$dirty || ProjectPostForm.$submitted)}">
      <label for="inputSurveyNumber">Survey No.</label>
      <input type="text" class="form-control" name="serveyno" id="inputSurveyNumber" placeholder="Survey No." ng-model="data.survey_no" required ng-pattern="/^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/">
      <span class="help-block error-block basic-block">Please Enter Valid PAN No!</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputState">Status</label>
      <select class="form-control" id="inputState" placeholder="Status" ng-model="data.status" ng-options="option.value as option.name for option in status">
      </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputDate">Date</label>
      <input type="date" class="form-control" id="inputDate" placeholder="Date" min="1800-01-01" max={{max_date}} ng-model="data.date_input">
    </div>
  </div>
</div>
</div>
<button type="submit" class="btn btn-primary" ><!--ng-disabled="ProjectPostForm.$invalid"-->Submit</button>
<button class="btn btn-danger" ui-sref="workbench.projects" >Cancel</button>
</div>
</form>
