<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading">
          <a type="button" class="" ui-sref="workbench.projects" style="margin-top:-10px;"><i class="ion-chevron-left"></i> Back to Projects</a>
          <h3 class="panel-title" style="display:inline-block;width:80%; text-align:center">Project Detail</h3>
          <a type="button" class="btn btn-success btn-with-icon btn-sm pull-right" ui-sref="workbench.projects.edit({id:project.id})" style="margin-top:-10px;">edit</a>
        </div>
        <div class="panel-body" ng-show="loading">
          <div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="isLoading"><span/></div>
        </div>
        <div class="panel-body" ng-show="!loading">
          <div class="row">
            <div class="col-lg-12">
              <div class="">
                <h2>{{project.project_name}}</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>Status:</dt> <dd><span class="btn btn-success btn-xs">{{project.status}}</span></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <dl class="dl-horizontal">
                <dt>Project type :</dt> <dd>{{project.project_type.name}}</dd>
                <dt>Date :</dt> <dd>{{project.date}}</dd>
                <dt>Client :</dt> <dd><a href="#" class="text-navy">{{project.client.name}}</a> </dd>
              </dl>
            </div>
            <div class="col-lg-7" id="cluster_info">
              <dl class="dl-horizontal feed-element">
                <dt>Survey No :</dt><dd>{{project.survey_no}}</dd>
                <dt>Site Address :</dt><dd>{{project.site_address}}</dd>
                <dt>Construction Place :</dt><dd>{{project.construction_place}}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <dl class="dl-horizontal">
                <dt>Consultants:</dt>
                <dd data-ng-repeat="(key, value) in project.consultants"><a>{{value.consultant_name}} </a></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <dl class="dl-horizontal feed-element">
                <dt>Description:</dt>
                <dd class="section-block">{{project.description}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
