<uib-accordion>
  <div uib-accordion-group ng-repeat='cat in catalog' is-open="_is_open[cat]" is-disabled="_is_disabled[cat]" ng-init="$outer_index = $index">
    <div uib-accordion-heading>
      <span>{{ catalog_title[$index] }}</span>
      <div class="btn-group btn-group-sm pull-right">
        <button type="button" ng-click="add($event, $outer_index); $event.stopPropagation();" ng-show="_is_open[cat]" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> add </button>
        <!--div class="btn btn-primary btn-sm" ng-show="!_is_open[cat] && !_is_disabled[cat]">{{_selected[cat]}}</div-->
      </div>
    </div>
    <div class="horizontal-scroll">
      <table class="table table-hover" st-table="displayData" st-safe-src="_data[cat]" >
        <thead>
          <tr class="sortable">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="name">Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ng-show="loading">
          <tr><td colspan="7"><div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="loading"><span/></div></td></tr>
        </tbody>
        <tbody ng-show="!loading">
          <tr ng-repeat="item in displayData">
            <td class="table-id">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <button class="btn btn-success btn-xs"  ng-hide="$outer_index == catalog.length - 1" ng-click="select(cat, item.id)">Select</button>
              <button class="btn btn-primary btn-xs" ng-click="add($event, $outer_index, item)">Edit</button>
              <button class="btn btn-danger btn-xs" ng-click="delete($event, $outer_index, item)">Delete</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7" class="text-center">
              <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</uib-accordion>
