<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Add {{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <form>
          <div class="form-group">
            <label for="inputProjectName">{{title}} Name</label>
            <input type="text" class="form-control" placeholder="{{title}} Name" ng-model="data.name">
          </div>
          <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
