<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
        <button type="submit" class="btn btn-danger" ng-click="action()">{{action_name}}</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
