<div style="position:relative">
  <div ng-show="loading">
    <div style="position:absolute;height:100px;width:100%;height:100%;z-index:2;background-color:#aaa;opacity:0.1"></div>
    <span us-spinner="{position:static}" spinner-on="isLoading"><span/>
  </div>
<div class="row">
  <div class="col-sm-6">
    <label>Material Delivered</label>
  </div>
  <div class="col-sm-4">
    <label>Quantity</label>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" ng-click="add_material()">Add</button>
  </div>
</div>
<div class="row" data-ng-repeat="material in data.materials_delivered">
  <div class="col-sm-6">
    <div class="form-group">
      <select class="form-control" id="inputState" placeholder="Material" ng-model="material.id">
        <option ng-repeat="option in PO.materials" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <input class="form-control inputquantity" type="number" placeholder="quantity" ng-model="material.quantity"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputDate">Delivery Date</label>
      <input type="date" class="form-control" id="inputDate" placeholder="Date" ng-model="data.date_input">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="inputComment">Comment</label>
      <textarea class="form-control" id="inputcomment" placeholder="comment" ng-model="data.comment"></textarea>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
<button class="btn btn-danger" ui-sref="workbench.porders" >Cancel</button>
</div>
