<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading">
          <a type="button" class="" ui-sref="workbench.porders" style="margin-top:-10px;"><i class="ion-chevron-left"></i> Back to POrders</a>
          <h3 class="panel-title" style="display:inline-block;width:80%; text-align:center">Purchase Order Detail</h3>
        </div>
        <div class="panel-body" ng-show="loading">
          <div style="position:relative;height:100px;"><span us-spinner="{position:static}" spinner-on="isLoading"><span/></div>
        </div>
        <div class="panel-body" ng-show="!loading">
          <div class="row">
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Project :</dt> <dd>{{po.project.name}}</dd>
              </dl>
            </div>
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Status :</dt> <dd>{{po.status}}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Vendor :</dt> <dd>{{po.vendor.name}}</dd>
              </dl>
            </div>
            <div class="col-lg-6">
              <dl class="dl-horizontal">
                <dt> Expected By:</dt> <dd>{{po.expected_date}}</dd>
              </dl>
            </div>
          </div>
          <hr/>
          <div class="row">
            <h5>Materials</h5>
            <dl class="dl-horizontal">
              <dt  ng-repeat-start="m in po.materials">{{m.name}}</dt><dd ng-repeat-end>X {{m.quantity}}</dd>
            </dl>
          </div>
          <hr/>
          <h5>Sub Pos</h5>
          <div ng-repeat="subpo in subpos">
            <div class="row">
              <h5>Materials Delivered</h5>
              <dl class="dl-horizontal">
                <dt>Date:</dt><dd>{{subpo.delivery_date}}</dd>
                <dt ng-repeat-start="m in subpo.materials_delivered">{{m.name}}</dt><dd ng-repeat-end>X {{m.quantity}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
